<%-include('partials/header') %>
<%-include('partials/navbar') %>

<style>
    body{
        font-family: 'Mooli', sans-serif;
        font-family: 'Roboto Mono', monospace;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Lista de Publicaciones</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <main class="d-flex gap-1 mt-4" id="lista-publicaciones">
                <!-- Contenido de la lista de publicaciones -->
            </main>
        </div>
    </div>
</div>





        <script src="/js/home.js"></script>
<%-include('partials/footer') %>